@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;
  background: #3C3744;
}

button{
  cursor: pointer;
}